@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/*  //////////////////////////////////////////////////////////////
//////  Page Structure and Shared CSS - Home
///////////////////////////////////////////////////////////////*/

:root {
  --sidenav-width: 15rem;
  --navbar-height: 3.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a { 
  text-decoration: none;
  color: inherit;
}

HR {
  margin-bottom: 8px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  
  font-family: "Open Sans", sans-serif;
}

.headerimg {
  margin-left: -10px;
  max-height: 55px;
  width: auto;
}


header {
  position: fixed;
  inset: 0 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--navbar-height);
  padding-inline: 2rem;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

/*  //////////////////////////////////////////////////////////////
//////  Navigation 
///////////////////////////////////////////////////////////////*/

nav {
  position: fixed;
  inset: var(--navbar-height) auto 0 0;
  width: var(--sidenav-width);
  padding-left: 2.1rem;
  padding-top: 1rem;
  
  display: flex;
  flex-flow: column;
  gap: 0.em;
  
  border-right: 1px solid lightgrey;
  background-color: white;
}

nav p {
  font-size: 15px;
}

.subnav {
  font-size: 14px;
  padding-left: 10px;
}

nav p:not(:first-child) {
  margin-top: 0.5rem;
}

nav a {
  position: relative;
  
  display: flex;
  align-items: center;
  

  margin-left: 0.8rem;
  padding-top: 0.1rem;
  color: gray;
  font-size: 14px;
  transition: 0.3s;

}

nav a::before {
  position: absolute;
  left: -0.95rem;
  
  transition: inherit;
  opacity: 0;
}

nav a:hover {
  text-decoration: none;
  color: red;
}

nav a:hover::before {
  content: "l";
  padding: rem;
  opacity: 1;
}

nav a:active {
  color: blue;
}

/*  //////////////////////////////////////////////////////////////
//////  Main 
///////////////////////////////////////////////////////////////*/

main {
  flex: 1;
  
  display: flex;
  flex-flow: column;
  gap: 1rem;
  
  padding: 2rem;
  padding-left: 280px;
  
  margin-top: var(--navbar-height);
  margin-left: auto;
  margin-right: auto;
}

/*  //////////////////////////////////////////////////////////////
//////  Page Specific CSS and Grids
///////////////////////////////////////////////////////////////*/
 
/* [[[[[[[ Video team Page Container  -----  */

.vt_page {
    width: 100%;
    margin: 0 auto;
}

/*  End Video Page Container  ]]]]]]]]]]]]] -----  */

/*  //////////////////////////////////////////////////////////////
//////  Video Team Page Used Grids 
///////////////////////////////////////////////////////////////*/

/* Page Empty Space  */
#footer_emptyspace{
  height:500px;
}


/* Three Column Grid */

.vt_threecol_grid {
  display: grid;
  grid-template-columns: 250px 700px 300px;
  color:rgb(57, 57, 57)
}

.vt_threecol_grid > div{
  padding-bottom: 30px;
  padding-right: 30px;
}


.vt_threecol_grid > p {
  padding-bottom: 10px;
}

#third_col{
  padding-left: 0px;
  background-color: light;
}
.vt_threecol_grid H1 {
  color: #4C297E;
  font-size: 28px;
}

/* Two Column Grid */


.vt_twocol_grid {
  display: grid;
  grid-template-columns: 250px 800px ;
  color:rgb(57, 57, 57)
}

.vt_twocol_grid > div{
  padding-bottom: 50px;
  padding-right: 30px;
}

.vt_twocol_grid > p {
  padding-bottom: 10px;
}

.vt_twocol_grid H1 {
  color: #4C297E;
  font-size: 28px;
  
}

.coltwo_img_container img{
width: 560px;
height: auto;
}

/* Big Image Grid 1 Column  */


.vt_oneimg_grid {
  display: grid;
  grid-template-columns: 950px 300px;
  color:rgb(57, 57, 57)
}

.vt_oneimg_grid > div{
  padding-bottom: 60px;
  padding-right: 30px;
  
}


.vt_oneimg_grid > p {
  padding-bottom: 10px;
}



/* end */

#vt_filestructure {
  color: #4C297E;
  font-weight: bold;
  font-size: 18px;
}

.highlight_one {
  color: #4C297E;
  font-size: 16px;
  font-weight: bold;
}

.pfooter_bold {
  padding-top: 10px;
  color:rgb(57, 57, 57);
  font-weight: bold;
}


.nextpage_link{
 float:right;
 color: #4C297E;
  font-weight: bold;
  font-size: 18px;
 
}

/*  //////////////////////////////////////////////////////////////
//////  Side Notes Styling 
///////////////////////////////////////////////////////////////*/

/* //////  Accordion  */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 30px;
  text-align: left;
  font-size: 14;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion_panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-size: 14;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* //////  Side Notes Styling  */

.sidenote{
border-radius: 25px;
background: #ddd6ff31 ;
Width: 810px;
height: 140px;
outline-width: 1px;
outline-color: #584d95d1;
outline-style: dashed;
}

.sidenote > p {
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 14;
  color:rgb(57, 57, 57);
}

.sidenote > H2 {
  font-weight: bold;
  color: #4c297e;
  font-size: 18;
  padding-top: 16px;
  padding-left: 20px;
}

/* //////  Very Important Side Note  */

.imp_sidenote{
  border-radius: 25px;
  background: #e2ccc931 ;
  Width: 1220px;
  height: autopx;
  outline-width: 1px;
  outline-color: #ffe1d8d1;
  outline-style: dashed;
  }
  
  .imp_sidenote > p {
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 16;
    color:rgb(51, 51, 51);
    padding-bottom:10px;
  }
  
  .imp_sidenote > H2 {
    font-weight: bold;
    color: #5d2616;
    font-size: 18;
    padding-top: 16px;
    padding-left: 20px;
  }

/* Right Column Side Note */

.rcol_sidenote{
  border-radius: 25px;
  background: #dedbeb31 ;
  Width: 370px;
  height: Auto;
  outline-width: 1px;
  outline-color: #b3abdfd1;
  outline-style: dashed;
  padding-bottom: 25px;
  }
  
  .rcol_sidenote > p {
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 14;
    color:rgb(57, 57, 57);
  }
  
  .rcol_sidenote > H2 {
    font-weight: bold;
    font-size: 18;
    padding-top: 16px;
    padding-left: 20px;
  }




/*  //////////////////////////////////////////////////////////////
//////  VT Modal Page Items and Animation 
///////////////////////////////////////////////////////////////*/

/* The Modal Image Sample (Sbackground) */

/* folder Preview  */
#ic_folder {
  float:left;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.ic_folder {
  float:left;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.ic_folder:hover {opacity: 0.7;}


#ic_folder_side_caption{
padding-top: 15px;
padding-left: 70px;
color: #4c297e;
}

#ic_folder:hover {opacity: 0.7;}

/* //End folder Preview */

/* Modal Block */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-content{
  position: absolute;
  margin: 0 auto;
  left:50%;
  top:50%;
  margin-left:-415px;
  margin-top:-300px;

}

#caption {
  color:rgb(214, 214, 214);
}

/* Modal Content Animation */

.modal-content, #imgActive, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.5 s;
  animation-name: zoom;
  animation-duration: 0.5s;
}

.modal {  
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 0.5 s;
  animation-name: fadein;
  animation-duration: 0.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from {-webkit-transform:opacity(0)} 
  to {-webkit-transform:opacity(1)}
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* End Modal */








